body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, sans-serif;
  width: 100vw;
}

h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;

  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  border: 1px solid #000;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

#playerTurn {
  margin-top: 20px;
  font-size: 1.2em;
}
#playerChoiceButtons {
  display: flex;
  align-items: center;
}
#playerChoiceButtons button {
  width: 100%;
  margin: 10px;
}
